* {
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  border:0px;
  margin:0px;
  background-color: white;
}

.w3-content{max-width:1200px;margin:auto}

.center{
  margin-left:7%;
}

.header {
  grid-area: header;
  background-color:white;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  max-width:1200px;
  margin:auto
}

.footer{
  background-color:rgb(173, 173, 173);
  text-align:center;
  color:white;
  padding:10px;
  width:80%;
  display:block;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom:1%;
  } 

#logo{
  width:350px;
  margin-bottom:0px;
}

#headerPhoto{
  width:95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.produs{
  width:20%;
  display:inline-block;
  border:solid 1px #ccc;
  margin:20px;
  padding:10px;

}

.produs:hover {
  width:20%;
  display:inline-block;
  border:solid 1px #777;;
  margin:20px;
  padding:10px;

}

#aLogo {
  background-color: white;
  border: white;
}

.responsive {
    padding: 0 12px;
    float: left;
    width: 20%;
}

.imagine{
  width: 100%;
  height: auto;
}


ul{
  list-style: none;

}

#loading{
  width:15%;
  display: block;
  margin-left: 40%;
  margin-right: 40%;
}

#listaProduse{
  width:80%;
  display:block;
  margin-left: 10%;
  margin-right: 10%;
}

.detalii{
  float: right;
  font-style: normal;
}

h3{
  text-align: center;
  font:arial;
  font-size:20px;
  width:80%;
  display:block;
  margin-left: 10%;
  margin-right: 10%;
}



.search{
  margin:auto;
  max-width:300px;
}
.nume{
    padding:5px;
    text-align: center;
    display: inline-block;
    font-size:14px;
    font:arial;
}

form.search input[type=text] {
    padding: 5px;
    font-size: 12px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    color:rgb(173, 173, 173);
}
form.search button {
    float: right;
    width: 20%;
    padding: 2px;
    background: rgb(208, 209, 209);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
.pret{
    padding:5px;
    display: inline-block;
    font-size:14px;
    font:arial;
    font-weight: bold;
    font-style: italic;
}

a:link, a:visited {
    background-color: white;
    color: #414141;
    border: 1px solid #e7e7e7;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:14px;
    font:arial;
    font-weight:bold;
    
}

a:hover, a:active {
    background-color:rgb(153, 204, 58);
    color: black;
    }

.imgProdus:link, .imgProdus:visited{
  background-color: white;
   
    border: 1px solid #e7e7e7;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:14px;
    font:arial;
    font-weight:bold;
}
#googleMap{
    width:80%;
    padding-top:400px;
    display:block;
    margin-left: 10%;
    margin-right: 10%;
    padding-left:30px;
    padding-right:30px;
}

#adresa{
  text-align: center;
}

 @media only screen and (min-width: 481px) and (max-width: 768px) {
    #logo{
     width:100%;
     display: block;
     float:center;
   }
    .header{
      width:100%;
    }

    .footer{
        width: 90%;
        display: inline-block;
        margin-right:5%;
        margin-left:5%;
    }
}

@media only screen and (max-width: 480px) {

    #logo{
     width:100%;
     display: block;
     float:center;
   }
    .footer{
        width: 90%;
        display: inline-block;
        margin-right:5%;
        margin-left:5%;
    }
    .center{
      margin:0px;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}