body{
    background-color: lightskyblue;
    margin: 0px;
    padding: 0px;
}
.div{
    background-color: white;
    border-radius: 5px;
    border:15px;
    margin:5px;
    width:100%;
 
}

table {
    display: inline-block;

    text-align:center;
    vertical-align: text-top;
    
}

.input[type=text]{
    width:40%;
    padding: 5px 15px;
    margin: 18px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
.button{
    border:5px;
    background-color:lightskyblue;
    padding:5px;
    border-radius:2px;
    color:white;
    font-size:14px;
    margin-left:20px;
}

ul{
    list-style-type:none
}

li{
    width:30%;
}

#getLocation{
    text-align:right;
    color:darkblue;
    padding-left:50px;
}

#tabel{
    margin:auto;
    width:80%;

}

thead{

    background-color:lightskyblue;
    text-align:center;
    font-weight:bold;
}


tbody{
    bottom: 0;
    text-align:center;
  }

#map{

    float:right;
    height: 400px;
    width: 40%;
    background-color:grey;
}


  