body{
    background-color: rgb(165, 216, 213);
    padding:20px;
}

h1 {
    display: inline-block;
    color: darkblue;
}

img { display:inline-block;
    width:150px;
}


td {
  padding:20px;
}
.denumire{
  font-weight: bold;
  font-size: 1.2em;
  
}
form{
    padding: 10px;
}

table{
    width:100%;
}
a.detalii:link, a.detalii:visited  {
    background-color: white;
    color: black;
    border: 1px solid red;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float:right;
}

a.detalii:hover, a.detalii:active {
    background-color: red;
    color: white;
    float:right;
}


a.modifica:link, a.modifica:visited  {
    background-color: white;
    color: black;
    border: 1px solid green;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float:right;
}

a.modifica:hover, a.modifica:active {
    background-color: green;
    color: white;
    float:right;
}

a.contact:link, a.contact:visited  {
    background-color:rgb(0, 132, 255);
    width: 175px;
    color: black;
    border: 1px solid rgb(16, 57, 95);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    position: absolute;
    top: 60px;
    right: 40px;
}

